
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap');

:root {


  --ff_pubsans:"Yeseva One", serif  ;
  --ff_arch: "Josefin Sans", sans-serif;
}


.container .card {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
  z-index: 0;
  transition: all 300ms ease-out;
  transform-origin: center center;
  width: 100%;
  height: 100%;
  box-shadow: 0px;
}

.card-header {
  font-family: var(--ff_arch);
  padding: 10px;
  background-color: #2e2e2e;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.container .card .border {
  transition: all 300ms ease-out;
  transform-origin: center center;
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid black;
  border-radius: 9px;
}

.container {
  perspective: 1000px;
  position: relative;
  height: auto;
  border-radius: 10px;
}



.container a {
  opacity: 0;
  position: absolute;
  z-index: 99999;
  width: 50%;
  height: 50%;
}
.container a:hover,
.container a:focus {
  transform: translateZ(50px);
}

.container a:hover ~ .card .card-header,
.container a:focus ~ .card .card-header {
  transform: translateZ(100px);
}

.container a:nth-child(1) {
  top: 0;
  left: 0;
}
.container a:nth-child(1):hover ~ .card,
.container a:nth-child(1):focus ~ .card {
  transform: rotateX(10deg) rotateY(-10deg) translateZ(0);
  transform-origin: right bottom;
  box-shadow: 10px 20px;
}
.container a:nth-child(2) {
  top: 0;
  right: 0;
}
.container a:nth-child(2):hover ~ .card,
.container a:nth-child(2):focus ~ .card {
  transform: rotateX(10deg) rotateY(10deg) translateZ(0);
  transform-origin: left bottom;
  box-shadow: -10px 20px;
}
.container a:nth-child(3) {
  bottom: 0;
  right: 0;
}
.container a:nth-child(3):hover ~ .card,
.container a:nth-child(3):focus ~ .card {
  transform-origin: left top;
  transform: rotateX(-10deg) rotateY(10deg) translateZ(0);
  box-shadow: -10px -20px;
}
.container a:nth-child(4) {
  bottom: 0;
  left: 0;
}
.container a:nth-child(4):hover ~ .card,
.container a:nth-child(4):focus ~ .card {
  transform-origin: right top;
  transform: rotateX(-10deg) rotateY(-10deg) translateZ(0);
  box-shadow: 10px -20px;
}
