.comic-button {
  font-family: var(--ff_arch);
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #2d2d2d;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:active {
  background-color: #2d2d2dc2;
  box-shadow: none;
  transform: translateY(4px);
}
